.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: 1em;
    margin-top: 1.5em;
    /* margin-bottom: .8em; */
}

.precios{
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
}

.precios label{
    color: gray;
}

.precios label:first-child{
    color: red;
}

.precios label:last-child{
    color: maroon
}

.iconoClose{
    cursor:pointer;
    padding-left: .5em;
    color: gray;
}

.iconoClose:hover{
    color: black;
}

