.container{
    border:2px solid red;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imagen{
    width: auto;
    height: 100%;
}

.imagen img{
    width: 100%;
    height: 100%;
}

.btnCart{
    background: white;
    margin: center;
    position: absolute;
    bottom: .1em;
    z-index: 100;
}