.container{
    flex: 0 0 20%;
}

.descripcion{
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
}

.descripcion .tittle{
    font-weight: bold;
    font-size: 1.4em;
}

.descripcion label:first-child{
    color: gray;
}

.descripcion label:last-child{
    color:rgb(199, 62, 62);
    font-weight: bold;
}


.containerImg{
    /* border:2px solid red; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;

}

.imagen{
    width: 250px; 
    height: 100%;
}

.imagen img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.btnCartEmpty, .btnCartFull{
    background: white;
    width: 140px;
    height: 40px;
    position: absolute;
    bottom: -1em;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid gray
}
.cartEmpty{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cartEmpty i{
    color: rgb(199, 62, 62);
}

.btnCartEmpty:hover{
    color: rgb(199, 62, 62);
    border: 1px solid rgb(199, 62, 62);
}

.cartFull{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartFull i{
    cursor: pointer;
    font-size: .8em;
    border:2px solid red;
    padding: .3em;
    border-radius: 50%;
}

.btnCartFull{
    background: rgb(199, 62, 62);
    color: white;
}

.cartFull i:first-child{
    margin-left: .8em;
    border: 2px solid white;
}

.cartFull i:last-child{
    margin-right: .8em;
    border: 2px solid white;
}

.cartFull i:first-child:hover{
    background: white;
    color: rgb(199, 62, 62);
}

.cartFull i:last-child:hover{
    background: white;
    color: rgb(199, 62, 62);
}

